body{
    font-family: sans-serif;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 30px;
    font-style: italic;
}
h1, h2{
    font-family: Impact, sans-serif;
}
.container{
    text-align: center;
    width: 80%;
    background-color: grey;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    max-width: 500px;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
hr{
    height: 2px;
    background-color: whitesmoke;
    border-color: whitesmoke;
}
footer{
    font-size: 14px;
}
.address{
    margin-top: 20px;
}